.timeLine{
	background-image:url("../image/bg.png");
	width:100%;
	height:100%;
	color:#ffffff;
	padding:40px;
}
.tlStartImg{
	float:left;
	background-image: url("../image/clock.png");
	width:30px;
	height:30px;
}
.tlPointImg{
	float:left;
	background-image: url("../image/circle.png");
	width:30px;
	height:30px;
}
.tlCurrentImg{
	float:left;
	background-image: url("../image/check.png");
	width:30px;
	height:30px;
}
.timeLine .tlLine{
	float:left;
	clear:left;
	background-image:url("../image/line-bg.png");
	width:2px;
	height:40px;
	margin:0 20px 0 14px;
}
.tlCurrent,.tlStart,.tlPoint{
	height:70px;
}
.tlEnd{
	height:40px;
}
